APP_ADDRESS=:18080
APP_ENV=development
COOKIE_SECURE=false

DATABASE_DRIVER=pgx
DATABASE_URL=postgres://postgres:<database-password>@db.mdnuzqzohiewvbbtspko.supabase.co:5432/postgres?sslmode=require

JWT_SECRET=change_this_to_at_least_32_characters
ADMIN_EMAIL=admin@coop.test
ADMIN_PASSWORD=password
